<div class="container">
  <div class="row header_Small_Page">
    Change your password
  </div>  
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages!%>
  <%= f.hidden_field :reset_password_token %>
  <div class="container confirm_Body">
    <div class="row">
      <div class="col-lg-5">
        <%= f.label :password, "New password" %>
      </div>
      <div class="col-lg-7">
        <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "confirm_Email"%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-5">
        <%= f.label :password_confirmation, "Confirm new password" %>
      </div>
      <div class="col-lg-7">
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "confirm_Email"%>
      </div>
    </div><br>
    <%= f.submit "Change my password", :id => "button_New_Password", :class => "btn btn-facebook buttons"%>
  </div>
<% end %>