<div class="container-fluid">
  <div class="row header_Row" id="header_Login">
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8" style="text-align: left">Log In</div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
      <a class="btn btn-social-icon btn-sm btn-facebook" href="/users/auth/facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="btn btn-social-icon btn-sm btn-vk" href="/users/auth/vkontakte">
        <i class="fa fa-vk"></i>
      </a>  
      <a class="btn btn-social-icon btn-sm btn-twitter" href="/users/auth/twitter">
        <i class="fa fa-twitter"></i>
      </a> 
    </div>
  </div>  
</div>

<div class="container" id="login_Body" style="margin-top:">
  <div style="border: 1px solid lightgray; padding: 3%; border-radius: 2px;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5"><%= f.label :email, :class=>"label_Input"%></div>
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7"><%= f.email_field :email, autofocus: true, :class=>"input_Field" %></div>
    </div>
  </div>
  <br>
  <div class="field">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5"><%= f.label :password, :class=>"label_Input" %></div>
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7"><%= f.password_field :password, autocomplete: "off" , :class=>"input_Field"%></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5">
      <%= f.label :remember_me, :class=>"label_Input" %>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
      <%= f.check_box :remember_me %>
    </div>
  </div>
  <br>
  <%= f.submit "Log in" , :class=> 'btn btn-facebook buttons', :id => "button_Login"%>
  <%= link_to "Sign up", new_registration_path(resource_name), :class=> 'btn btn-github buttons', :id => "button_Sign_Up"%><br />
  <br>
  <%= render "devise/shared/links" %>
  <% end %>
</div>
</div>